* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: rajdhani;
}
body img {
  width: 100%;
}

::-moz-selection {
  background-color: #FABC3D;
  color: #fff;
}

::selection {
  background-color: #FABC3D;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@font-face {
  font-family: rajdhani;
  font-weight: 400;
  src: url(./fonts/rajdhani_regular.ttf);
}
@font-face {
  font-family: rajdhani;
  font-weight: 500;
  src: url(./fonts/rajdhani_medium.ttf);
}
@font-face {
  font-family: rajdhani;
  font-weight: 700;
  src: url(./fonts/rajdhani_semibold.ttf);
}
.primaryButton {
  background-color: #FABC3D;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  transition: 0.4s ease-out;
  font-family: rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #2B2D37;
}
.primaryButton:hover {
  background-color: #2B2D37;
  color: #fff;
}

.preheader {
  font-family: rajdhani, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #2B2D37;
}
@media only screen and (max-width: 767px) {
  .preheader {
    font-size: 25px;
  }
}

.sectionTitle {
  font-family: rajdhani, sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 46px;
  text-align: left;
  color: #2B2D37;
}
@media only screen and (max-width: 767px) {
  .sectionTitle {
    font-size: 30px;
  }
}

.innerTitle {
  font-family: rajdhani, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: #2B2D37;
}
@media only screen and (max-width: 767px) {
  .innerTitle {
    font-size: 20px;
    line-height: 25px;
  }
}

.bodyText {
  font-family: rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #2B2D37;
}

[class*=col-] {
  width: 100%;
  float: left;
}

.row {
  padding: 100px 0 0;
}
@media only screen and (max-width: 1024px) {
  .row {
    padding: 80px 0;
  }
}
@media only screen and (max-width: 767px) {
  .row {
    padding: 60px 0;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 1024px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 24.99%;
  }

  .col-4 {
    width: 33.32%;
  }

  .col-5 {
    width: 41.65%;
  }

  .col-6 {
    width: 49.98%;
  }

  .col-7 {
    width: 58.31%;
  }

  .col-8 {
    width: 66.64%;
  }

  .col-9 {
    width: 74.97%;
  }

  .col-10 {
    width: 83.3%;
  }

  .col-11 {
    width: 91.63%;
  }

  .col-12 {
    width: 99.96%;
  }
}
@media only screen and (min-width: 767pxpx) {
  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 24.99%;
  }

  .col-m-4 {
    width: 33.32%;
  }

  .col-m-5 {
    width: 41.65%;
  }

  .col-m-6 {
    width: 49.98%;
  }

  .col-m-7 {
    width: 58.31%;
  }

  .col-m-8 {
    width: 66.64%;
  }

  .col-m-9 {
    width: 74.97%;
  }

  .col-m-10 {
    width: 83.3%;
  }

  .col-m-11 {
    width: 91.63%;
  }

  .col-m-12 {
    width: 99.96%;
  }
}
/*<< Start Home page >>*/
.slideShowContainer {
  width: 100%;
  position: relative;
}
.slideShowContainer .mySlides {
  display: none;
}
.slideShowContainer .mySlides .numberCount {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: #fff;
  font-size: 18px;
}
.slideShowContainer .mySlides .textContain {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 20%;
}
.slideShowContainer .mySlides .textContain h3 {
  font-family: rajdhani, sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 59px;
  text-align: left;
  color: #fff;
}
.slideShowContainer .mySlides .textContain h1 {
  font-family: rajdhani, sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
  text-align: left;
  color: #fff;
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slideShowContainer .fade {
  -webkit-animation: fade 0.4s linear;
          animation: fade 0.4s linear;
}
.slideShowContainer .prev, .slideShowContainer .next {
  position: absolute;
  right: 20px;
  bottom: -15px;
  padding: 15px 20px;
  background-color: #FABC3D;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.slideShowContainer .prev:hover, .slideShowContainer .next:hover {
  background-color: #2B2D37;
}
.slideShowContainer .prev {
  right: 80px;
}

.dotContainer {
  text-align: center;
}
.dotContainer .dot {
  width: 15px;
  height: 15px;
  border: 2px solid #FABC3D;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s linear;
}
.dotContainer .dot:hover {
  background-color: #2B2D37;
}
.dotContainer .active {
  background-color: #2B2D37;
}

.about {
  display: flex;
}
.about img {
  width: 520px;
  height: 495px;
}
.about .aboutContentArea {
  align-self: flex-end;
  padding: 0 0 80px 11px;
}
.about .aboutContentArea .sectionTitle {
  margin-bottom: 25px;
}
.about .aboutContentArea .bodyText {
  margin-bottom: 40px;
}

#features {
  overflow: hidden;
  position: relative;
}
#features .feature {
  margin-bottom: 35px;
  display: flex;
}
#features .feature .imageSection img {
  width: 53px;
  height: 53px;
}
#features .feature .contentSection {
  margin-left: 20px;
}
#features .feature .contentSection .innerTitle {
  margin-bottom: 20px;
}
#features .feature .contentSection .bodyText {
  margin-right: 55px;
}
#features .rightImages {
  display: flex;
  justify-content: flex-start;
}
#features .rightImages .firstImage, #features .rightImages .secondImage {
  width: 338px;
  height: 367px;
  overflow: hidden;
  box-shadow: 0px 0 25px 5px rgba(10, 10, 10, 0.25);
}
#features .rightImages .firstImage img, #features .rightImages .secondImage img {
  width: 338px;
  height: 367px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -15px center;
     object-position: -15px center;
  transition: all 0.3s linear;
}
#features .rightImages .firstImage img:hover, #features .rightImages .secondImage img:hover {
  transform: scale(1.1);
}
#features .rightImages .firstImage {
  z-index: 1;
}
#features .rightImages .secondImage {
  margin-top: 180px;
  margin-left: -90px;
}/*# sourceMappingURL=style.css.map */